absl-py
addict
aiofiles
aiohttp
altair
antlr4-python3-runtime
attrs
beautifulsoup4
black
braceexpand
cd-fvd
clip
cmake
configargparse
dash
decord
deepspeed
einops
fastapi
ffmpy
fire
flask
ftfy
gdown
gitpython
gradio-client
huggingface-hub
hydra-core
imageio
imageio-ffmpeg
iopath
ipython
ipywidgets
joblib
kornia
markdown
matplotlib
natsort
networkx
ninja
numpy
omegaconf
open-clip-torch
open3d
opencv-python
pandas
pillow
plotly
plyfile
protobuf==3.20.3
psutil
pyarrow
pydantic==1.10.17
pyquaternion
pytorch-fid
pytorch-lightning==2.0.1
pyyaml
regex
requests
rich
roma
scikit-learn
scipy
seaborn
sentencepiece
safetensors
streamlit
sympy
tensorboard
tensorboardx
timm
tokenizers==0.12.1
torchmetrics
tqdm
transformers==4.19.1
trimesh
typer
urllib3
uvicorn
wandb
webdataset
websockets
werkzeug
xformers==0.0.22
zstandard